body{
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.header{
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}
